.signUpWrapper{
    display: flex;
    justify-content: center;
}
.signUpCard{
    width:27vw;
    margin-top: 5%;
}

.insta-Logo{
    display: flex;
    width:100%;
    justify-content: center;
    margin-top: 5%;

}
.insta-Logo img{
    width:15vw;
}
@media only screen and (max-width: 700px){
    .signUpCard{
        width:60%
    }
    .insta-Logo img{
        width:35%;
    }

    
}